{{ attach_library('svg_grid/svg-hover') }}

{% for employee in data %}

<section id="grid" class="grid clearfix">
	<a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
		<figure>
			<img src="{{ employee.image|first.value }}" />
			<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
			<figcaption>
				<h2>{{ employee.name|first.value }}</h2>
				<p>{{ employee.email|first.value }}</p>
				<button>View</button>
			</figcaption>
		</figure>
	</a>
	
</section>

 {% endfor %}