{{ attach_library('svg_grid/svg-hover') }}





<div class="demo-2">
<section id="grid" class="grid clearfix">
{% for employee in data %}
	<a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
		<figure>
			<img src="{{ employee.image }}" />
			<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
			<figcaption>
				<h2>{{ employee.name }}</h2>
				<p>{{ employee.email }}</p>
				<button>View</button>
			</figcaption>
		</figure>
	</a>
 {% endfor %}	
</section>
</div>
