.grid-container {
    display: grid;
    height: 400px;
    align-content: start;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    padding: 10px;
  
    }
    
    .grid-item {
      
      padding: 20px;
      font-size: 30px;
      text-align: center;
      border: 1px solid;
    }
  